.body{
    background: url(../Images/star\ background.jpeg) no-repeat center center fixed;
    font-family: 'Lobster', cursive;

}
.header{
    background-color: rgb(199,154,110);
    text-align: center;
    width: 100%;    
    padding: 25px;
    margin: 10px 15px 15px 15px;
    float: left;
    font-size: 50px;
}
.main-body{
    background-color: rgb(255,227,198);
    margin: 10px 10px 10px 15px;
}
#number-box1{
    font-family: 'Permanent Marker', cursive;
    position: relative;
    font-size: 100px;
    text-align: center;
    background-color: rgb(93,198,231);
    height: 150px;
    margin: 10px 10px 10px 15px;
}
#number-box2{
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    background-color: rgb(2,254,255);
    height: 150px;
    margin: 10px 0px 10px 15px;
    padding-top: 25px;
}
.crystals{
    height: 150px;
    width: 150px; 
}
crystalhover:hover{
    height: 175px;
    width: 175px;
}
.bottom{
    background-color: rgb(106,119,126);
    margin: 15px 0px 15px 15px;
}
#number-box3{
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    text-align: center;
    color: rgb(241, 19, 30);
    background-color: rgb(2,254,255);
    height: 150px;
    margin: 10px 0px 10px 15px;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
  
      border: 1px solid #ccc;
  }