.body{
    background-image: url(../Images/star\ background.jpeg);
}
.header{
    background-color: rgb(199,154,110);
    text-align: center;
    width: 100%;    
    padding: 25px;
    margin: 10px 15px 15px 15px;
    float: left;
    font-size: 32px;
}
.main-body{
    background-color: rgb(255,227,198);
    margin: 10px 10px 10px 15px;
}
#number-box1{
    font-size: 32px;
    background-color: rgb(93,198,231);
    height: 150px;
    margin: 10px 10px 10px 15px;
}
#number-box2{
    font-size: 22px;
    background-color: rgb(2,254,255);
    height: 150px;
    margin: 10px 0px 10px 15px;
    padding-top: 25px;
}
.crystals{
    margin-left: 10px; 
    float: left;
   
}